In [2]:
# importamos las librerías con las que vamos a trabajar

# Trabajar con bases de datos y python
# -----------------------------------------------------------------------
import psycopg2
from psycopg2 import OperationalError, errorcodes, errors


# Trabajar con DataFrames
# -----------------------------------------------------------------------
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
try:
    conexionproductora=psycopg2.connect(
    database="productora",
    user="postgres",
    password="admin",
    host="localhost",
    port="5432")
except OperationalError as e:
    if e.pgcode ==errorcodes.INVALID_PASSWORD:
        print("La constraseña es incorrecta")
    elif e.pgcode ==errorcodes.CONNECTION_EXCEPTION:
        print("Error de conexión")

In [4]:
# cursorproductora=conexionproductora.cursor()
# cursorproductora.execute('SELECT*FROM "Genre";')
# pd.DataFrame(cursorproductora.fetchall()).head()

In [7]:
# Primero, deshacer la transacción fallida
conexionproductora.rollback()

# Luego, intentar de nuevo crear la tabla sin errores
cursorproductora = conexionproductora.cursor()
querydecreacion = """
    CREATE TABLE IF NOT EXISTS Clientes (
    id_cliente INT PRIMARY KEY,
    nombre VARCHAR(100) NOT NULL,
    email VARCHAR(100) NOT NULL,
    direccion VARCHAR(255) NOT NULL,
    telefono VARCHAR(15) NOT NULL,
    pais VARCHAR(50) NOT NULL
    );
"""
querydeeliminacion= """
    DROP TABLE Clientes;"""

# Ejecutar la consulta y confirmar los cambios
cursorproductora.execute(querydecreacion)
conexionproductora.commit()
cursorproductora.execute(querydeeliminacion)
conexionproductora.commit()

In [10]:
df_foursquare=pd.read_csv('data/api_foursquare.csv')
df_foursquare.head()

,Unnamed: 0,municipio,category,fsq_id,closed_bucket,distance,link,name,address,latitude,longitude
0,0,ajalvir,Park,4d3c6c5b84d46ea87dddfd5c,LikelyOpen,563.0,/v3/places/4d3c6c5b84d46ea87dddfd5c,Diverjungla,"Calle Segovia, 20 (Pol. Ind. Donada), 28864 Aj...",40.529921,-3.484341
1,1,ajalvir,Park,4f54f7bfe4b036244d02685b,VeryLikelyOpen,1724.0,/v3/places/4f54f7bfe4b036244d02685b,Parque Infantil,NaN,40.543867,-3.464773
2,2,ajalvir,Park,7d4ef99ca2dd4789f032a90c,LikelyOpen,333.0,/v3/places/7d4ef99ca2dd4789f032a90c,Chiquitin,Ajalvir Madrid,40.531662,-3.482835
3,3,alamo-el,Park,53de1144498e8fd8d8cb3537,LikelyOpen,118.0,/v3/places/53de1144498e8fd8d8cb3537,Isla Perejil,28607 El Alamo Comunidad de Madrid,40.230993,-3.991942
4,4,alamo-el,Park,51a8f451498ecb8334de37df,LikelyOpen,582.0,/v3/places/51a8f451498ecb8334de37df,Parque de Madera,NaN,40.234636,-3.995166

In [11]:
df_aemet=pd.read_csv('data/df_aemet_final.csv')
df_aemet.head()

,fecha,cielo,temp._(°c),sen._térmica_(°c),racha_máx._(km/h),precipitación_(mm),nieve_(mm),humedad_relativa_(%),prob._precip.__(%),prob._de_nieve_(%),prob._de_tormenta_(%),avisos,dirección_viento,velocidad_del_viento,localizacion_id
0,2024-08-29 12:00:00,Nubes altas,21,21,25.0,0.0,0,69,95,0,75,Riesgo,S,7,acebeda-la-id28001
1,2024-08-29 13:00:00,Nubes altas,24,24,29.0,0.0,0,57,Riesgo,0,75,Riesgo,SE,12,acebeda-la-id28001
2,2024-08-29 14:00:00,Muy nuboso,23,23,33.0,0.0,0,59,100,0,80,Riesgo,S,14,acebeda-la-id28001
3,2024-08-29 15:00:00,Nubes altas,23,23,35.0,0.0,0,55,Riesgo,0,80,Riesgo,S,17,acebeda-la-id28001
4,2024-08-29 16:00:00,Nubes altas,21,21,34.0,0.0,0,65,Riesgo,0,80,Riesgo,S,20,acebeda-la-id28001

In [12]:
df_municipios=pd.read_csv('data/municipios.csv')
df_municipios

,Unnamed: 0,acebeda-la,ajalvir,alameda-del-valle,alamo-el,alcala-de-henares,alcobendas,alcorcon,aldea-del-fresno,algete,...,villamanta,villamantilla,villanueva-de-la-canada,villanueva-del-pardillo,villanueva-de-perales,villar-del-olmo,villarejo-de-salvanes,villaviciosa-de-odon,villavieja-del-lozoya,zarzalejo
0,0,41.0869583,40.5342302,40.9177178,40.2307296,40.4818396,40.5400082,40.3492998,40.3215212,40.5961652,...,40.2990939,40.3421033,40.4472106,40.4949232,40.3466066,40.3364465,40.1683582,40.3573787,41.0063622,40.5483016
1,1,-3.624399,-3.4807818,-3.8438216,-3.9905893,-3.3644973,-3.6358494,-3.8284295,-4.19936,-3.4974246,...,-4.1090399,-4.1300303,-4.002795,-3.9600065,-4.1012616,-3.2355624,-3.2738764,-3.9002334,-3.6716291,-4.1815899
2,2,La Acebeda,Ajalvir,Alameda del Valle,El Álamo,Alcalá de Henares,Alcobendas,Alcorcón,Aldea del Fresno,Algete,...,Villamanta,Villamantilla,Villanueva de la Cañada,Villanueva del Pardillo,Villanueva de Perales,Villar del Olmo,Villarejo de Salvanés,Villaviciosa de Odón,Villavieja del Lozoya,Zarzalejo

In [ ]:
listavaloresinsercion=[
    (2, 'Carlos', 'carlos@outlook.com', 'Direccion B', '987654321', 'México'),
    (3, 'Lucía', 'lucia@gmail.com', 'Direccion C', '1122334455', 'Colombia'),
    (4, 'Mario', 'mario@gmail.com', 'Direccion D', '998877665', 'España'),
    (5, 'Sofía', 'sofia@yahoo.com', 'Direccion E', '667788990', 'Chile'),
    (6, 'Andrés', 'andres@outlook.com', 'Direccion F', '556677889', 'Perú')
]
try:
    cursorprueba.executemany(queryinsercion,listavaloresinsercion)
    conexionprueba.commit()
except:
    print(f'El valor {listavaloresinsercion} ya esta en la base')