In [2]:
# importamos las librerías con las que vamos a trabajar

# Trabajar con bases de datos y python
# -----------------------------------------------------------------------
import psycopg2
from psycopg2 import OperationalError, errorcodes, errors


# Trabajar con DataFrames
# -----------------------------------------------------------------------
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
try:
    conexionproductora=psycopg2.connect(
    database="productora",
    user="postgres",
    password="admin",
    host="localhost",
    port="5432")
except OperationalError as e:
    if e.pgcode ==errorcodes.INVALID_PASSWORD:
        print("La constraseña es incorrecta")
    elif e.pgcode ==errorcodes.CONNECTION_EXCEPTION:
        print("Error de conexión")

In [4]:
# cursorproductora=conexionproductora.cursor()
# cursorproductora.execute('SELECT*FROM "Genre";')
# pd.DataFrame(cursorproductora.fetchall()).head()

In [5]:
df_foursquare=pd.read_csv('data/api_foursquare.csv')
df_foursquare=df_foursquare.drop(columns=['Unnamed: 0'])

In [6]:
df_foursquare.head()

,municipio,category,fsq_id,closed_bucket,distance,link,name,address,latitude,longitude
0,ajalvir,Park,4d3c6c5b84d46ea87dddfd5c,LikelyOpen,563.0,/v3/places/4d3c6c5b84d46ea87dddfd5c,Diverjungla,"Calle Segovia, 20 (Pol. Ind. Donada), 28864 Aj...",40.529921,-3.484341
1,ajalvir,Park,4f54f7bfe4b036244d02685b,VeryLikelyOpen,1724.0,/v3/places/4f54f7bfe4b036244d02685b,Parque Infantil,NaN,40.543867,-3.464773
2,ajalvir,Park,7d4ef99ca2dd4789f032a90c,LikelyOpen,333.0,/v3/places/7d4ef99ca2dd4789f032a90c,Chiquitin,Ajalvir Madrid,40.531662,-3.482835
3,alamo-el,Park,53de1144498e8fd8d8cb3537,LikelyOpen,118.0,/v3/places/53de1144498e8fd8d8cb3537,Isla Perejil,28607 El Alamo Comunidad de Madrid,40.230993,-3.991942
4,alamo-el,Park,51a8f451498ecb8334de37df,LikelyOpen,582.0,/v3/places/51a8f451498ecb8334de37df,Parque de Madera,NaN,40.234636,-3.995166

In [7]:
df_foursquare.shape

(907, 10)

In [8]:
df_foursquare.columns

Index(['municipio', 'category', 'fsq_id', 'closed_bucket', 'distance', 'link',
       'name', 'address', 'latitude', 'longitude'],
      dtype='object')

In [9]:
df_foursquare.nunique()

municipio         96
category          10
fsq_id           822
closed_bucket      3
distance         724
link             822
name             764
address          491
latitude         811
longitude        812
dtype: int64

In [10]:
df_foursquare['closed_bucket'].unique()

array(['LikelyOpen', 'VeryLikelyOpen', 'Unsure'], dtype=object)

In [11]:
lista_lugares=[]
for fila in df_foursquare.values:
    lista_lugares.append(tuple(fila))

# lista_lugares

In [30]:
df_aemet=pd.read_csv('data/df_aemet_final.csv')
df_aemet.head()

,fecha,cielo,temp._(°c),sen._térmica_(°c),racha_máx._(km/h),precipitación_(mm),nieve_(mm),humedad_relativa_(%),prob._precip.__(%),prob._de_nieve_(%),prob._de_tormenta_(%),avisos,dirección_viento,velocidad_del_viento,localizacion_id
0,2024-08-29 12:00:00,Nubes altas,21,21,25.0,0.0,0,69,95,0,75,Riesgo,S,7,acebeda-la-id28001
1,2024-08-29 13:00:00,Nubes altas,24,24,29.0,0.0,0,57,Riesgo,0,75,Riesgo,SE,12,acebeda-la-id28001
2,2024-08-29 14:00:00,Muy nuboso,23,23,33.0,0.0,0,59,100,0,80,Riesgo,S,14,acebeda-la-id28001
3,2024-08-29 15:00:00,Nubes altas,23,23,35.0,0.0,0,55,Riesgo,0,80,Riesgo,S,17,acebeda-la-id28001
4,2024-08-29 16:00:00,Nubes altas,21,21,34.0,0.0,0,65,Riesgo,0,80,Riesgo,S,20,acebeda-la-id28001

In [31]:
df_aemet['prob._de_tormenta_(%)'].unique()

array([75, 80, 45, 15, 70, 20,  0, 65, 25, 50,  5, 60, 55, 10, 40, 30, 35,
       85, 90])

In [32]:
df_aemet['localizacion_id']=df_aemet['localizacion_id'].str.rsplit('-', n=1).str[0]

In [33]:
df_aemet

,fecha,cielo,temp._(°c),sen._térmica_(°c),racha_máx._(km/h),precipitación_(mm),nieve_(mm),humedad_relativa_(%),prob._precip.__(%),prob._de_nieve_(%),prob._de_tormenta_(%),avisos,dirección_viento,velocidad_del_viento,localizacion_id
0,2024-08-29 12:00:00,Nubes altas,21,21,25.0,0.0,0,69,95,0,75,Riesgo,S,7,acebeda-la
1,2024-08-29 13:00:00,Nubes altas,24,24,29.0,0.0,0,57,Riesgo,0,75,Riesgo,SE,12,acebeda-la
2,2024-08-29 14:00:00,Muy nuboso,23,23,33.0,0.0,0,59,100,0,80,Riesgo,S,14,acebeda-la
3,2024-08-29 15:00:00,Nubes altas,23,23,35.0,0.0,0,55,Riesgo,0,80,Riesgo,S,17,acebeda-la
4,2024-08-29 16:00:00,Nubes altas,21,21,34.0,0.0,0,65,Riesgo,0,80,Riesgo,S,20,acebeda-la
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7880,2024-08-31 03:00:00,Poco nuboso,17,17,13.0,0.0,0,90,5,0,5,Sin riesgo,N,9,zarzalejo
7881,2024-08-31 04:00:00,Cielo despejado,17,17,14.0,0.0,0,91,5,0,5,Sin riesgo,NE,8,zarzalejo
7882,2024-08-31 05:00:00,Cielo despejado,17,17,13.0,0.0,0,88,5,0,5,Sin riesgo,N,9,zarzalejo
7883,2024-08-31 06:00:00,Poco nuboso,16,16,10.0,0.0,0,89,5,0,5,Sin riesgo,N,8,zarzalejo
7884,2024-08-31 07:00:00,Nubes altas,16,16,6.0,0.0,0,85,5,0,5,Sin riesgo,NO,7,zarzalejo

In [34]:
df_aemet.shape

(7885, 15)

In [35]:
df_aemet.columns

Index(['fecha', 'cielo', 'temp._(°c)', 'sen._térmica_(°c)',
       'racha_máx._(km/h)', 'precipitación_(mm)', 'nieve_(mm)',
       'humedad_relativa_(%)', 'prob._precip.__(%)', 'prob._de_nieve_(%)',
       'prob._de_tormenta_(%)', 'avisos', 'dirección_viento',
       'velocidad_del_viento', 'localizacion_id'],
      dtype='object')

In [18]:
df_aemet.nunique()

fecha                     45
cielo                     23
temp._(°c)                24
sen._térmica_(°c)         26
racha_máx._(km/h)         70
precipitación_(mm)        29
nieve_(mm)                 1
humedad_relativa_(%)      67
prob._precip.__(%)        22
prob._de_nieve_(%)         1
prob._de_tormenta_(%)     19
avisos                     2
dirección_viento           9
velocidad_del_viento      43
localizacion_id          179
dtype: int64

In [38]:
lista_datosmeteo=[]
for fila in df_aemet.values:
    lista_datosmeteo.append(tuple(fila))

# lista_datosmeteo

In [20]:
df_municipios=pd.read_csv('data/municipios.csv')
df_municipios

,Unnamed: 0,acebeda-la,ajalvir,alameda-del-valle,alamo-el,alcala-de-henares,alcobendas,alcorcon,aldea-del-fresno,algete,...,villamanta,villamantilla,villanueva-de-la-canada,villanueva-del-pardillo,villanueva-de-perales,villar-del-olmo,villarejo-de-salvanes,villaviciosa-de-odon,villavieja-del-lozoya,zarzalejo
0,0,41.0869583,40.5342302,40.9177178,40.2307296,40.4818396,40.5400082,40.3492998,40.3215212,40.5961652,...,40.2990939,40.3421033,40.4472106,40.4949232,40.3466066,40.3364465,40.1683582,40.3573787,41.0063622,40.5483016
1,1,-3.624399,-3.4807818,-3.8438216,-3.9905893,-3.3644973,-3.6358494,-3.8284295,-4.19936,-3.4974246,...,-4.1090399,-4.1300303,-4.002795,-3.9600065,-4.1012616,-3.2355624,-3.2738764,-3.9002334,-3.6716291,-4.1815899
2,2,La Acebeda,Ajalvir,Alameda del Valle,El Álamo,Alcalá de Henares,Alcobendas,Alcorcón,Aldea del Fresno,Algete,...,Villamanta,Villamantilla,Villanueva de la Cañada,Villanueva del Pardillo,Villanueva de Perales,Villar del Olmo,Villarejo de Salvanés,Villaviciosa de Odón,Villavieja del Lozoya,Zarzalejo

In [21]:
df_municipios=df_municipios.T

In [22]:
df_municipios=df_municipios.reset_index()

In [23]:
df_municipios.shape

(177, 4)

In [24]:
lista_municipios=[]

for fila in df_municipios.values:
    lista_municipios.append(tuple(fila))

lista_municipios=lista_municipios[1:]
# lista_municipios

In [40]:
# Primero, deshacer la transacción fallida
conexionproductora.rollback()

# Crear tablas
# Tabla Municipio
cursorproductora = conexionproductora.cursor()
querydecreacion1 = """
    CREATE TABLE IF NOT EXISTS Municipios (
    id_municipio VARCHAR(50) PRIMARY KEY,
    latitud DECIMAL(9,7),
    longitud DECIMAL(9,7),
    nombre VARCHAR(50)
);
"""

# Ejecutar la consulta y confirmar los cambios
cursorproductora.execute(querydecreacion1)
conexionproductora.commit()

# ['municipio', 'category', 'fsq_id', 'closed_bucket', 'distance', 'link', 'name', 'address', 'latitude', 'longitude]

# Tabla Lugar
cursorproductora = conexionproductora.cursor()
querydecreacion2 = """
    CREATE TABLE IF NOT EXISTS Lugar (
    id_municipio VARCHAR(50),
    categoria VARCHAR(50),
    fsq_id VARCHAR(50) PRIMARY KEY,
    nombre VARCHAR(50),
    closed_bucket VARCHAR(50),
    distance INT,
    link VARCHAR(200),
    name VARCHAR(50),
    address VARCHAR(200),
    latitud DECIMAL(9,7),
    longitud DECIMAL(9,7),
    FOREIGN KEY (id_municipio) REFERENCES Municipio(id_municipio)
);
"""

# Ejecutar la consulta y confirmar los cambios
cursorproductora.execute(querydecreacion2)
conexionproductora.commit()

# 'fecha', 'cielo', 'temp._(°c)', 'sen._térmica_(°c)',
    #    'racha_máx._(km/h)', 'precipitación_(mm)', 'nieve_(mm)',
    #    'humedad_relativa_(%)', 'prob._precip.__(%)', 'prob._de_nieve_(%)',
    #    'prob._de_tormenta_(%)', 'avisos', 'dirección_viento',
    #    'velocidad_del_viento', 'localizacion_id'

# Tabla Tiempo
cursorproductora = conexionproductora.cursor()
querydecreacion3 = """
    CREATE TABLE IF NOT EXISTS Tiempo (
    id_tiempo SERIAL PRIMARY KEY,
    fecha TIMESTAMP,
    cielo VARCHAR(100),
    temperatura DECIMAL(5,2),
    sensacion_termica DECIMAL(5,2),
    racha_max DECIMAL(5,2),
    precipitacion DECIMAL(5,2),
    nieve DECIMAL(5,2),
    humedad_relativa DECIMAL(5,2),
    prob_precip DECIMAL(5,2),
    prob_de_nieve DECIMAL(5,2),
    prob_de_tormenta DECIMAL(5,2),
    avisos VARCHAR(50),
    direccion_viento VARCHAR(10),
    velocidad_viento DECIMAL(5,2),
    id_municipio VARCHAR(100),
    FOREIGN KEY (id_municipio) REFERENCES Municipio(id_municipio)
);
"""

# Ejecutar la consulta y confirmar los cambios
cursorproductora.execute(querydecreacion3)
conexionproductora.commit()

In [ ]:
# Insertar valores de tablas
# Tabla lugares
# ['municipio', 'category', 'fsq_id', 'closed_bucket', 'distance', 'link',
#        'name', 'address', 'latitude', 'longitude]
       
queryinsercion = "INSERT INTO 'Municipios' (municipio, categoria, email, direccion, telefono, pais) VALUES (%s,%s,%s,%s,%s,%s)"
listavaloresinsercion=[
    (2, 'Carlos', 'carlos@outlook.com', 'Direccion B', '987654321', 'México'),
    (3, 'Lucía', 'lucia@gmail.com', 'Direccion C', '1122334455', 'Colombia'),
    (4, 'Mario', 'mario@gmail.com', 'Direccion D', '998877665', 'España'),
    (5, 'Sofía', 'sofia@yahoo.com', 'Direccion E', '667788990', 'Chile'),
    (6, 'Andrés', 'andres@outlook.com', 'Direccion F', '556677889', 'Perú')
]
try:
    cursorproductora.executemany(queryinsercion,listavaloresinsercion)
    cursorproductora.commit()
except:
    print(f'El valor {listavaloresinsercion} ya esta en la base')

¿Cuáles son los nombres y coordenadas de todos los municipios?
Consulta: Obtener el nombre, latitud y longitud de todos los municipios.

¿Qué lugares pertenecen a un municipio específico?
Consulta: Mostrar los lugares que están asociados a un municipio particular (por ejemplo, "Ajalvir").

¿Cuáles son los municipios que tienen más de X lugares registrados?
Consulta: Contar cuántos lugares están asociados a cada municipio y filtrar aquellos que tengan más de X lugares.

¿Qué condiciones meteorológicas (temperatura, precipitación, etc.) hubo en un municipio en una fecha específica?
Consulta: Filtrar los datos meteorológicos para un municipio y fecha determinados.

¿Cuáles son los lugares que están abiertos actualmente en un municipio?
Consulta: Filtrar los lugares por el estado de apertura (por ejemplo, VeryLikelyOpen) en un municipio determinado.