In [1]:
# importamos las librerías con las que vamos a trabajar

# Trabajar con bases de datos y python
# -----------------------------------------------------------------------
import psycopg2
from psycopg2 import OperationalError, errorcodes, errors


# Trabajar con DataFrames
# -----------------------------------------------------------------------
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df_foursquare=pd.read_csv('data/api_foursquare.csv')
df_foursquare=df_foursquare.drop(columns=['Unnamed: 0'])

In [3]:
df_foursquare.head()

,municipio,category,fsq_id,closed_bucket,distance,link,name,address,latitude,longitude
0,ajalvir,Park,4d3c6c5b84d46ea87dddfd5c,LikelyOpen,563.0,/v3/places/4d3c6c5b84d46ea87dddfd5c,Diverjungla,"Calle Segovia, 20 (Pol. Ind. Donada), 28864 Aj...",40.529921,-3.484341
1,ajalvir,Park,4f54f7bfe4b036244d02685b,VeryLikelyOpen,1724.0,/v3/places/4f54f7bfe4b036244d02685b,Parque Infantil,NaN,40.543867,-3.464773
2,ajalvir,Park,7d4ef99ca2dd4789f032a90c,LikelyOpen,333.0,/v3/places/7d4ef99ca2dd4789f032a90c,Chiquitin,Ajalvir Madrid,40.531662,-3.482835
3,alamo-el,Park,53de1144498e8fd8d8cb3537,LikelyOpen,118.0,/v3/places/53de1144498e8fd8d8cb3537,Isla Perejil,28607 El Alamo Comunidad de Madrid,40.230993,-3.991942
4,alamo-el,Park,51a8f451498ecb8334de37df,LikelyOpen,582.0,/v3/places/51a8f451498ecb8334de37df,Parque de Madera,NaN,40.234636,-3.995166

In [4]:
df_foursquare.dtypes

municipio         object
category          object
fsq_id            object
closed_bucket     object
distance         float64
link              object
name              object
address           object
latitude         float64
longitude        float64
dtype: object

In [5]:
df_foursquare.shape

(907, 10)

In [6]:
df_foursquare.columns

Index(['municipio', 'category', 'fsq_id', 'closed_bucket', 'distance', 'link',
       'name', 'address', 'latitude', 'longitude'],
      dtype='object')

In [7]:
df_foursquare.nunique()

municipio         96
category          10
fsq_id           822
closed_bucket      3
distance         724
link             822
name             764
address          491
latitude         811
longitude        812
dtype: int64

In [8]:
df_foursquare['closed_bucket'].unique()

array(['LikelyOpen', 'VeryLikelyOpen', 'Unsure'], dtype=object)

In [9]:
lista_lugares=[]
for fila in df_foursquare.values:
    lista_lugares.append(tuple(fila))

# lista_lugares

In [10]:
df_aemet=pd.read_csv('data/df_aemet_final.csv')
df_aemet.head()

,fecha,cielo,temp._(°c),sen._térmica_(°c),racha_máx._(km/h),precipitación_(mm),nieve_(mm),humedad_relativa_(%),prob._precip.__(%),prob._de_nieve_(%),prob._de_tormenta_(%),avisos,dirección_viento,velocidad_del_viento,localizacion_id
0,2024-08-29 12:00:00,Nubes altas,21,21,25.0,0.0,0,69,95,0,75,Riesgo,S,7,acebeda-la-id28001
1,2024-08-29 13:00:00,Nubes altas,24,24,29.0,0.0,0,57,Riesgo,0,75,Riesgo,SE,12,acebeda-la-id28001
2,2024-08-29 14:00:00,Muy nuboso,23,23,33.0,0.0,0,59,100,0,80,Riesgo,S,14,acebeda-la-id28001
3,2024-08-29 15:00:00,Nubes altas,23,23,35.0,0.0,0,55,Riesgo,0,80,Riesgo,S,17,acebeda-la-id28001
4,2024-08-29 16:00:00,Nubes altas,21,21,34.0,0.0,0,65,Riesgo,0,80,Riesgo,S,20,acebeda-la-id28001

In [11]:
df_aemet['localizacion_id'] = df_aemet['localizacion_id'].str.replace(r'-id\d+', '', regex=True)

In [12]:
df_aemet.head()

,fecha,cielo,temp._(°c),sen._térmica_(°c),racha_máx._(km/h),precipitación_(mm),nieve_(mm),humedad_relativa_(%),prob._precip.__(%),prob._de_nieve_(%),prob._de_tormenta_(%),avisos,dirección_viento,velocidad_del_viento,localizacion_id
0,2024-08-29 12:00:00,Nubes altas,21,21,25.0,0.0,0,69,95,0,75,Riesgo,S,7,acebeda-la
1,2024-08-29 13:00:00,Nubes altas,24,24,29.0,0.0,0,57,Riesgo,0,75,Riesgo,SE,12,acebeda-la
2,2024-08-29 14:00:00,Muy nuboso,23,23,33.0,0.0,0,59,100,0,80,Riesgo,S,14,acebeda-la
3,2024-08-29 15:00:00,Nubes altas,23,23,35.0,0.0,0,55,Riesgo,0,80,Riesgo,S,17,acebeda-la
4,2024-08-29 16:00:00,Nubes altas,21,21,34.0,0.0,0,65,Riesgo,0,80,Riesgo,S,20,acebeda-la

In [13]:
df_aemet['fecha']=pd.to_datetime(df_aemet['fecha'])

In [14]:
df_aemet.shape

(7885, 15)

In [15]:
df_aemet.dtypes

fecha                    datetime64[ns]
cielo                            object
temp._(°c)                        int64
sen._térmica_(°c)                 int64
racha_máx._(km/h)               float64
precipitación_(mm)              float64
nieve_(mm)                        int64
humedad_relativa_(%)              int64
prob._precip.__(%)               object
prob._de_nieve_(%)                int64
prob._de_tormenta_(%)             int64
avisos                           object
dirección_viento                 object
velocidad_del_viento              int64
localizacion_id                  object
dtype: object

In [16]:
df_aemet.columns

Index(['fecha', 'cielo', 'temp._(°c)', 'sen._térmica_(°c)',
       'racha_máx._(km/h)', 'precipitación_(mm)', 'nieve_(mm)',
       'humedad_relativa_(%)', 'prob._precip.__(%)', 'prob._de_nieve_(%)',
       'prob._de_tormenta_(%)', 'avisos', 'dirección_viento',
       'velocidad_del_viento', 'localizacion_id'],
      dtype='object')

In [17]:
df_aemet.nunique()

fecha                     45
cielo                     23
temp._(°c)                24
sen._térmica_(°c)         26
racha_máx._(km/h)         70
precipitación_(mm)        29
nieve_(mm)                 1
humedad_relativa_(%)      67
prob._precip.__(%)        22
prob._de_nieve_(%)         1
prob._de_tormenta_(%)     19
avisos                     2
dirección_viento           9
velocidad_del_viento      43
localizacion_id          179
dtype: int64

In [18]:
df_municipios=pd.read_csv('data/municipios.csv')
df_municipios

,Unnamed: 0,acebeda-la,ajalvir,alameda-del-valle,alamo-el,alcala-de-henares,alcobendas,alcorcon,aldea-del-fresno,algete,...,villamanta,villamantilla,villanueva-de-la-canada,villanueva-del-pardillo,villanueva-de-perales,villar-del-olmo,villarejo-de-salvanes,villaviciosa-de-odon,villavieja-del-lozoya,zarzalejo
0,0,41.0869583,40.5342302,40.9177178,40.2307296,40.4818396,40.5400082,40.3492998,40.3215212,40.5961652,...,40.2990939,40.3421033,40.4472106,40.4949232,40.3466066,40.3364465,40.1683582,40.3573787,41.0063622,40.5483016
1,1,-3.624399,-3.4807818,-3.8438216,-3.9905893,-3.3644973,-3.6358494,-3.8284295,-4.19936,-3.4974246,...,-4.1090399,-4.1300303,-4.002795,-3.9600065,-4.1012616,-3.2355624,-3.2738764,-3.9002334,-3.6716291,-4.1815899
2,2,La Acebeda,Ajalvir,Alameda del Valle,El Álamo,Alcalá de Henares,Alcobendas,Alcorcón,Aldea del Fresno,Algete,...,Villamanta,Villamantilla,Villanueva de la Cañada,Villanueva del Pardillo,Villanueva de Perales,Villar del Olmo,Villarejo de Salvanés,Villaviciosa de Odón,Villavieja del Lozoya,Zarzalejo

In [19]:
df_municipios=df_municipios.T

In [20]:
df_municipios=df_municipios.reset_index()

In [21]:
df_municipios.shape

(177, 4)

In [22]:
df_municipios.dtypes

df_municipios=df_municipios[1:]

In [23]:
df_municipios

                     index           0           1                      2
1               acebeda-la  41.0869583   -3.624399             La Acebeda
2                  ajalvir  40.5342302  -3.4807818                Ajalvir
3        alameda-del-valle  40.9177178  -3.8438216      Alameda del Valle
4                 alamo-el  40.2307296  -3.9905893               El Álamo
5        alcala-de-henares  40.4818396  -3.3644973      Alcalá de Henares
..                     ...         ...         ...                    ...
172        villar-del-olmo  40.3364465  -3.2355624        Villar del Olmo
173  villarejo-de-salvanes  40.1683582  -3.2738764  Villarejo de Salvanés
174   villaviciosa-de-odon  40.3573787  -3.9002334   Villaviciosa de Odón
175  villavieja-del-lozoya  41.0063622  -3.6716291  Villavieja del Lozoya
176              zarzalejo  40.5483016  -4.1815899              Zarzalejo

[176 rows x 4 columns]

In [24]:
df_aemet = df_aemet[df_aemet['localizacion_id'].isin(set(df_municipios['index'].unique()))]

print(len(df_aemet['localizacion_id'].unique()))

176

In [25]:
lista_datosmeteo=[]
for fila in df_aemet.values:
    lista_datosmeteo.append(tuple(fila))

# lista_datosmeteo

In [26]:
df_municipios.rename(columns={0: 'latitud'}, inplace=True)
df_municipios.rename(columns={1: 'longitud'}, inplace=True)

In [27]:
df_municipios['latitud']=df_municipios['latitud'].astype(float)
df_municipios['longitud']=df_municipios['longitud'].astype(float)

In [28]:
df_municipios.dtypes

index        object
latitud     float64
longitud    float64
2            object
dtype: object

In [29]:
df_municipios.head()

               index    latitud  longitud                  2
1         acebeda-la  41.086958 -3.624399         La Acebeda
2            ajalvir  40.534230 -3.480782            Ajalvir
3  alameda-del-valle  40.917718 -3.843822  Alameda del Valle
4           alamo-el  40.230730 -3.990589           El Álamo
5  alcala-de-henares  40.481840 -3.364497  Alcalá de Henares

In [30]:
df_municipios.nunique()

index       176
latitud     176
longitud    176
2           176
dtype: int64

In [31]:
lista_municipios=[]

for fila in df_municipios.values:
    lista_municipios.append(tuple(fila))

# lista_municipios

In [32]:
for i in lista_municipios:
    if len(i)<4:
        print(len(i))

In [33]:
try:
    conexionproductora=psycopg2.connect(
    database="productora",
    user="postgres",
    password="admin",
    host="localhost",
    port="5432")
except OperationalError as e:
    if e.pgcode ==errorcodes.INVALID_PASSWORD:
        print("La constraseña es incorrecta")
    elif e.pgcode ==errorcodes.CONNECTION_EXCEPTION:
        print("Error de conexión")

In [34]:
# Primero, deshacer la transacción fallida
conexionproductora.rollback()

cursorproductora = conexionproductora.cursor()
cursorproductora

In [35]:
# Crear tablas
# Tabla Municipio
# index        object
# latitud     float64
# longitud    float64
# 2            object

querydecreacion1 = """
    CREATE TABLE IF NOT EXISTS Municipios (
    id_municipio VARCHAR(50) PRIMARY KEY,
    latitud DECIMAL,
    longitud DECIMAL,
    nombre VARCHAR(50)
);
"""

# Ejecutar la consulta y confirmar los cambios
cursorproductora.execute(querydecreacion1)
conexionproductora.commit()

# Tabla Lugar

# municipio         object
# category          object
# fsq_id            object
# closed_bucket     object
# distance         float64
# link              object
# name              object
# address           object
# latitude         float64
# longitude        float64
# dtype: object

querydecreacion2 = """
    CREATE TABLE IF NOT EXISTS Lugar (
    id_lugar SERIAL PRIMARY KEY,
    id_municipio VARCHAR,
    categoria VARCHAR,
    fsq_id VARCHAR,
    closed_bucket VARCHAR,
    distance DECIMAL,
    link VARCHAR,
    name VARCHAR,
    address VARCHAR,
    latitud DECIMAL,
    longitud DECIMAL,
    FOREIGN KEY (id_municipio) REFERENCES Municipios(id_municipio)
    on delete restrict
    on update cascade
);
"""

# Ejecutar la consulta y confirmar los cambios
cursorproductora.execute(querydecreacion2)
conexionproductora.commit()

# Tabla Tiempo

# fecha                     datetime64
# cielo                     object
# temp._(°c)                 int64
# sen._térmica_(°c)          int64
# racha_máx._(km/h)        float64
# precipitación_(mm)       float64
# nieve_(mm)                 int64
# humedad_relativa_(%)       int64
# prob._precip.__(%)        object
# prob._de_nieve_(%)         int64
# prob._de_tormenta_(%)      int64
# avisos                    object
# dirección_viento          object
# velocidad_del_viento       int64
# localizacion_id           object

querydecreacion3 = """
    CREATE TABLE IF NOT EXISTS Tiempo (
    id_tiempo SERIAL PRIMARY KEY,
    fecha DATE,
    cielo VARCHAR,
    temperatura INT,
    sensacion_termica INT,
    racha_max DECIMAL,
    precipitacion DECIMAL,
    nieve INT,
    humedad_relativa INT,
    prob_precip VARCHAR,
    prob_de_nieve INT,
    prob_de_tormenta INT,
    avisos VARCHAR,
    direccion_viento VARCHAR,
    velocidad_viento INT,
    id_municipio VARCHAR,
    FOREIGN KEY (id_municipio) REFERENCES Municipios(id_municipio)
    on delete restrict
    on update cascade
);
"""

# Ejecutar la consulta y confirmar los cambios
cursorproductora.execute(querydecreacion3)
conexionproductora.commit()

In [36]:
# Primero, deshacer la transacción fallida
conexionproductora.rollback()

cursorproductora = conexionproductora.cursor()
cursorproductora

In [37]:
# Insertar valores de tablas
# Tabla Municipios
    # id_municipio VARCHAR(50) PRIMARY KEY,
    # latitud DECIMAL(9,7),
    # longitud DECIMAL(9,7),
    # nombre VARCHAR(50)

    # query_insert = "INSERT INTO clientes (nombre, edad) VALUES (%s, %s);"
    # valores_multiples = [
    #     ("Ana García", 28),
    #     ("Luis Fernández", 40),
    #     ("María López", 22)
    # ]
    # cursor.executemany(query_insert, valores_multiples)
    # connection.commit()
    # print("Múltiples registros insertados exitosamente")

queryinsercion = 'INSERT INTO municipios (id_municipio, latitud, longitud, nombre) VALUES (%s,%s,%s,%s);'
listavaloresinsercion=lista_municipios
cursorproductora.executemany(queryinsercion,listavaloresinsercion)
conexionproductora.commit()

UniqueViolation: llave duplicada viola restricción de unicidad «municipios_pkey»
DETAIL:  Ya existe la llave (id_municipio)=(acebeda-la).

In [38]:
# Primero, deshacer la transacción fallida
conexionproductora.rollback()

cursorproductora = conexionproductora.cursor()
cursorproductora

In [39]:
# Tabla lugares

    # id_lugar SERIAL PRIMARY KEY
    # id_municipio VARCHAR,
    # categoria VARCHAR,
    # fsq_id VARCHAR,
    # closed_bucket VARCHAR,
    # distance DECIMAL,
    # link VARCHAR,
    # name VARCHAR,
    # address VARCHAR,
    # latitud DECIMAL,
    # longitud DECIMAL,

# ['municipio', 'category', 'fsq_id', 'closed_bucket', 'distance', 'link',
#        'name', 'address', 'latitude', 'longitude]
       
queryinsercion = "INSERT INTO lugar (id_municipio, categoria, fsq_id, closed_bucket, distance, link, name, address, latitud, longitud) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);"
listavaloresinsercion=lista_lugares
cursorproductora.executemany(queryinsercion,listavaloresinsercion)
conexionproductora.commit()

In [73]:
# Primero, deshacer la transacción fallida
conexionproductora.rollback()

cursorproductora = conexionproductora.cursor()
cursorproductora

In [74]:
# Tabla tiempo

    # id_tiempo SERIAL PRIMARY KEY,
    # fecha DATE,
    # cielo VARCHAR,
    # temperatura INT,
    # sensacion_termica INT,
    # racha_max DECIMAL,
    # precipitacion DECIMAL,
    # nieve INT,
    # humedad_relativa INT,
    # prob_precip VARCHAR,
    # prob_de_nieve INT,
    # prob_de_tormenta INT,
    # avisos VARCHAR,
    # direccion_viento VARCHAR,
    # velocidad_viento INT,
    # id_municipio VARCHAR,

queryinsercion = "INSERT INTO tiempo (fecha, cielo, temperatura, sensacion_termica, racha_max, precipitacion, nieve, humedad_relativa, prob_precip, prob_de_nieve, prob_de_tormenta, avisos, direccion_viento, velocidad_viento, id_municipio) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);"
listavaloresinsercion = lista_datosmeteo
cursorproductora.executemany(queryinsercion, listavaloresinsercion)
conexionproductora.commit()

In [80]:
# Primero, deshacer la transacción fallida
conexionproductora.rollback()

cursorproductora = conexionproductora.cursor()
cursorproductora

1. ¿Cuáles son los nombres y coordenadas de todos los municipios?
Consulta: Obtener el nombre, latitud y longitud de todos los municipios.

In [60]:
queryconsulta = """
SELECT nombre, latitud, longitud
FROM Municipios;
"""

# Ejecutar la consulta y confirmar los cambios
cursorproductora.execute(queryconsulta)
resultados = cursorproductora.fetchall()

2. ¿Qué lugares pertenecen a un municipio específico?
Consulta: Mostrar los lugares que están asociados a un municipio particular (por ejemplo, "Ajalvir").

In [70]:
queryconsulta = """
SELECT name, categoria
FROM Lugar
WHERE id_municipio= (
    SELECT id_municipio
    FROM municipios m 
    WHERE nombre = 'Ajalvir');
"""

# Ejecutar la consulta y confirmar los cambios
cursorproductora.execute(queryconsulta)
resultados = cursorproductora.fetchall()

3. Consulta: Obtener los lugares que están abiertos (VeryLikelyOpen) en todos los municipios

In [74]:
queryconsulta = """
SELECT name, id_municipio
FROM Lugar
WHERE closed_bucket = 'VeryLikelyOpen';
"""

# Ejecutar la consulta y confirmar los cambios
cursorproductora.execute(queryconsulta)
resultados = cursorproductora.fetchall()

4. Consulta: ¿Cuál es la temperatura más alta registrada en cualquier municipio?

In [81]:
queryconsulta = """
SELECT MAX(temperatura) AS temperatura_maxima
FROM tiempo;
"""

# Ejecutar la consulta y confirmar los cambios
cursorproductora.execute(queryconsulta)
resultados = cursorproductora.fetchall()

5. Consulta: Mostrar todos los municipios que tienen lugares con más de 1000 metros de distancia (según la columna distance)

In [82]:
queryconsulta = "SELECT M.nombre, L.name, L.distance FROM municipios m  JOIN Lugar L ON M.id_municipio = L.id_municipio WHERE L.distance > 1000;"

# Ejecutar la consulta y confirmar los cambios
cursorproductora.execute(queryconsulta)
resultados = cursorproductora.fetchall()
# resultados