In [3]:
# importamos las librerías con las que vamos a trabajar

# Trabajar con bases de datos y python
# -----------------------------------------------------------------------
import psycopg2
from psycopg2 import OperationalError, errorcodes, errors


# Trabajar con DataFrames
# -----------------------------------------------------------------------
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df_foursquare=pd.read_csv('data/api_foursquare.csv')
df_foursquare=df_foursquare.drop(columns=['Unnamed: 0'])

In [5]:
df_foursquare.head()

,municipio,category,fsq_id,closed_bucket,distance,link,name,address,latitude,longitude
0,ajalvir,Park,4d3c6c5b84d46ea87dddfd5c,LikelyOpen,563.0,/v3/places/4d3c6c5b84d46ea87dddfd5c,Diverjungla,"Calle Segovia, 20 (Pol. Ind. Donada), 28864 Aj...",40.529921,-3.484341
1,ajalvir,Park,4f54f7bfe4b036244d02685b,VeryLikelyOpen,1724.0,/v3/places/4f54f7bfe4b036244d02685b,Parque Infantil,NaN,40.543867,-3.464773
2,ajalvir,Park,7d4ef99ca2dd4789f032a90c,LikelyOpen,333.0,/v3/places/7d4ef99ca2dd4789f032a90c,Chiquitin,Ajalvir Madrid,40.531662,-3.482835
3,alamo-el,Park,53de1144498e8fd8d8cb3537,LikelyOpen,118.0,/v3/places/53de1144498e8fd8d8cb3537,Isla Perejil,28607 El Alamo Comunidad de Madrid,40.230993,-3.991942
4,alamo-el,Park,51a8f451498ecb8334de37df,LikelyOpen,582.0,/v3/places/51a8f451498ecb8334de37df,Parque de Madera,NaN,40.234636,-3.995166

In [6]:
df_foursquare.dtypes

municipio         object
category          object
fsq_id            object
closed_bucket     object
distance         float64
link              object
name              object
address           object
latitude         float64
longitude        float64
dtype: object

In [7]:
df_foursquare.shape

(907, 10)

In [8]:
df_foursquare.columns

Index(['municipio', 'category', 'fsq_id', 'closed_bucket', 'distance', 'link',
       'name', 'address', 'latitude', 'longitude'],
      dtype='object')

In [9]:
df_foursquare.nunique()

municipio         96
category          10
fsq_id           822
closed_bucket      3
distance         724
link             822
name             764
address          491
latitude         811
longitude        812
dtype: int64

In [10]:
df_foursquare['closed_bucket'].unique()

array(['LikelyOpen', 'VeryLikelyOpen', 'Unsure'], dtype=object)

In [11]:
lista_lugares=[]
for fila in df_foursquare.values:
    lista_lugares.append(tuple(fila))

# lista_lugares

In [12]:
df_aemet=pd.read_csv('data/df_aemet_final.csv')
df_aemet.head()

,fecha,cielo,temp._(°c),sen._térmica_(°c),racha_máx._(km/h),precipitación_(mm),nieve_(mm),humedad_relativa_(%),prob._precip.__(%),prob._de_nieve_(%),prob._de_tormenta_(%),avisos,dirección_viento,velocidad_del_viento,localizacion_id
0,2024-08-29 12:00:00,Nubes altas,21,21,25.0,0.0,0,69,95,0,75,Riesgo,S,7,acebeda-la-id28001
1,2024-08-29 13:00:00,Nubes altas,24,24,29.0,0.0,0,57,Riesgo,0,75,Riesgo,SE,12,acebeda-la-id28001
2,2024-08-29 14:00:00,Muy nuboso,23,23,33.0,0.0,0,59,100,0,80,Riesgo,S,14,acebeda-la-id28001
3,2024-08-29 15:00:00,Nubes altas,23,23,35.0,0.0,0,55,Riesgo,0,80,Riesgo,S,17,acebeda-la-id28001
4,2024-08-29 16:00:00,Nubes altas,21,21,34.0,0.0,0,65,Riesgo,0,80,Riesgo,S,20,acebeda-la-id28001

In [13]:
df_aemet['localizacion_id'] = df_aemet['localizacion_id'].str.replace(r'-id\d+', '', regex=True)

In [14]:
df_aemet.head()

,fecha,cielo,temp._(°c),sen._térmica_(°c),racha_máx._(km/h),precipitación_(mm),nieve_(mm),humedad_relativa_(%),prob._precip.__(%),prob._de_nieve_(%),prob._de_tormenta_(%),avisos,dirección_viento,velocidad_del_viento,localizacion_id
0,2024-08-29 12:00:00,Nubes altas,21,21,25.0,0.0,0,69,95,0,75,Riesgo,S,7,acebeda-la
1,2024-08-29 13:00:00,Nubes altas,24,24,29.0,0.0,0,57,Riesgo,0,75,Riesgo,SE,12,acebeda-la
2,2024-08-29 14:00:00,Muy nuboso,23,23,33.0,0.0,0,59,100,0,80,Riesgo,S,14,acebeda-la
3,2024-08-29 15:00:00,Nubes altas,23,23,35.0,0.0,0,55,Riesgo,0,80,Riesgo,S,17,acebeda-la
4,2024-08-29 16:00:00,Nubes altas,21,21,34.0,0.0,0,65,Riesgo,0,80,Riesgo,S,20,acebeda-la

In [15]:
df_aemet['fecha']=pd.to_datetime(df_aemet['fecha'])

In [16]:
df_aemet['fechadia'] =df_aemet['fecha'].dt.date
df_aemet['fechahora']=df_aemet['fecha'].dt.time
df_aemet=df_aemet.drop(columns='fecha')
df_aemet['fechadia']=pd.to_datetime(df_aemet['fechadia'])
df_aemet['hora']=df_aemet['fechahora'].apply(lambda x: x.hour)
df_aemet=df_aemet.drop(columns='fechahora')

In [17]:
df_aemet

,cielo,temp._(°c),sen._térmica_(°c),racha_máx._(km/h),precipitación_(mm),nieve_(mm),humedad_relativa_(%),prob._precip.__(%),prob._de_nieve_(%),prob._de_tormenta_(%),avisos,dirección_viento,velocidad_del_viento,localizacion_id,fechadia,hora
0,Nubes altas,21,21,25.0,0.0,0,69,95,0,75,Riesgo,S,7,acebeda-la,2024-08-29,12
1,Nubes altas,24,24,29.0,0.0,0,57,Riesgo,0,75,Riesgo,SE,12,acebeda-la,2024-08-29,13
2,Muy nuboso,23,23,33.0,0.0,0,59,100,0,80,Riesgo,S,14,acebeda-la,2024-08-29,14
3,Nubes altas,23,23,35.0,0.0,0,55,Riesgo,0,80,Riesgo,S,17,acebeda-la,2024-08-29,15
4,Nubes altas,21,21,34.0,0.0,0,65,Riesgo,0,80,Riesgo,S,20,acebeda-la,2024-08-29,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7880,Poco nuboso,17,17,13.0,0.0,0,90,5,0,5,Sin riesgo,N,9,zarzalejo,2024-08-31,3
7881,Cielo despejado,17,17,14.0,0.0,0,91,5,0,5,Sin riesgo,NE,8,zarzalejo,2024-08-31,4
7882,Cielo despejado,17,17,13.0,0.0,0,88,5,0,5,Sin riesgo,N,9,zarzalejo,2024-08-31,5
7883,Poco nuboso,16,16,10.0,0.0,0,89,5,0,5,Sin riesgo,N,8,zarzalejo,2024-08-31,6
7884,Nubes altas,16,16,6.0,0.0,0,85,5,0,5,Sin riesgo,NO,7,zarzalejo,2024-08-31,7

In [18]:
df_aemet.shape

(7885, 16)

In [19]:
df_aemet.dtypes

cielo                            object
temp._(°c)                        int64
sen._térmica_(°c)                 int64
racha_máx._(km/h)               float64
precipitación_(mm)              float64
nieve_(mm)                        int64
humedad_relativa_(%)              int64
prob._precip.__(%)               object
prob._de_nieve_(%)                int64
prob._de_tormenta_(%)             int64
avisos                           object
dirección_viento                 object
velocidad_del_viento              int64
localizacion_id                  object
fechadia                 datetime64[ns]
hora                              int64
dtype: object

In [20]:
df_aemet['prob._precip.__(%)']= df_aemet['prob._precip.__(%)'].replace('Riesgo', '100')
df_aemet['prob._precip.__(%)']=df_aemet['prob._precip.__(%)'].astype(int)

In [21]:
df_aemet.columns

Index(['cielo', 'temp._(°c)', 'sen._térmica_(°c)', 'racha_máx._(km/h)',
       'precipitación_(mm)', 'nieve_(mm)', 'humedad_relativa_(%)',
       'prob._precip.__(%)', 'prob._de_nieve_(%)', 'prob._de_tormenta_(%)',
       'avisos', 'dirección_viento', 'velocidad_del_viento', 'localizacion_id',
       'fechadia', 'hora'],
      dtype='object')

In [22]:
df_aemet.nunique()

cielo                     23
temp._(°c)                24
sen._térmica_(°c)         26
racha_máx._(km/h)         70
precipitación_(mm)        29
nieve_(mm)                 1
humedad_relativa_(%)      67
prob._precip.__(%)        21
prob._de_nieve_(%)         1
prob._de_tormenta_(%)     19
avisos                     2
dirección_viento           9
velocidad_del_viento      43
localizacion_id          179
fechadia                   3
hora                      24
dtype: int64

In [23]:
df_municipios=pd.read_csv('data/municipios.csv')
df_municipios

,Unnamed: 0,acebeda-la,ajalvir,alameda-del-valle,alamo-el,alcala-de-henares,alcobendas,alcorcon,aldea-del-fresno,algete,...,villamanta,villamantilla,villanueva-de-la-canada,villanueva-del-pardillo,villanueva-de-perales,villar-del-olmo,villarejo-de-salvanes,villaviciosa-de-odon,villavieja-del-lozoya,zarzalejo
0,0,41.0869583,40.5342302,40.9177178,40.2307296,40.4818396,40.5400082,40.3492998,40.3215212,40.5961652,...,40.2990939,40.3421033,40.4472106,40.4949232,40.3466066,40.3364465,40.1683582,40.3573787,41.0063622,40.5483016
1,1,-3.624399,-3.4807818,-3.8438216,-3.9905893,-3.3644973,-3.6358494,-3.8284295,-4.19936,-3.4974246,...,-4.1090399,-4.1300303,-4.002795,-3.9600065,-4.1012616,-3.2355624,-3.2738764,-3.9002334,-3.6716291,-4.1815899
2,2,La Acebeda,Ajalvir,Alameda del Valle,El Álamo,Alcalá de Henares,Alcobendas,Alcorcón,Aldea del Fresno,Algete,...,Villamanta,Villamantilla,Villanueva de la Cañada,Villanueva del Pardillo,Villanueva de Perales,Villar del Olmo,Villarejo de Salvanés,Villaviciosa de Odón,Villavieja del Lozoya,Zarzalejo

In [24]:
df_municipios=df_municipios.T

In [25]:
df_municipios=df_municipios.reset_index()

In [26]:
df_municipios.shape

(177, 4)

In [27]:
df_municipios.dtypes

df_municipios=df_municipios[1:]

In [28]:
df_municipios

                     index           0           1                      2
1               acebeda-la  41.0869583   -3.624399             La Acebeda
2                  ajalvir  40.5342302  -3.4807818                Ajalvir
3        alameda-del-valle  40.9177178  -3.8438216      Alameda del Valle
4                 alamo-el  40.2307296  -3.9905893               El Álamo
5        alcala-de-henares  40.4818396  -3.3644973      Alcalá de Henares
..                     ...         ...         ...                    ...
172        villar-del-olmo  40.3364465  -3.2355624        Villar del Olmo
173  villarejo-de-salvanes  40.1683582  -3.2738764  Villarejo de Salvanés
174   villaviciosa-de-odon  40.3573787  -3.9002334   Villaviciosa de Odón
175  villavieja-del-lozoya  41.0063622  -3.6716291  Villavieja del Lozoya
176              zarzalejo  40.5483016  -4.1815899              Zarzalejo

[176 rows x 4 columns]

In [29]:
df_aemet = df_aemet[df_aemet['localizacion_id'].isin(set(df_municipios['index'].unique()))]

print(len(df_aemet['localizacion_id'].unique()))

176

In [30]:
lista_datosmeteo=[]
for fila in df_aemet.values:
    lista_datosmeteo.append(tuple(fila))

# lista_datosmeteo

In [31]:
df_municipios.rename(columns={0: 'latitud'}, inplace=True)
df_municipios.rename(columns={1: 'longitud'}, inplace=True)

In [32]:
df_municipios['latitud']=df_municipios['latitud'].astype(float)
df_municipios['longitud']=df_municipios['longitud'].astype(float)

In [33]:
df_municipios.dtypes

index        object
latitud     float64
longitud    float64
2            object
dtype: object

In [34]:
df_municipios.head()

               index    latitud  longitud                  2
1         acebeda-la  41.086958 -3.624399         La Acebeda
2            ajalvir  40.534230 -3.480782            Ajalvir
3  alameda-del-valle  40.917718 -3.843822  Alameda del Valle
4           alamo-el  40.230730 -3.990589           El Álamo
5  alcala-de-henares  40.481840 -3.364497  Alcalá de Henares

In [35]:
df_municipios.nunique()

index       176
latitud     176
longitud    176
2           176
dtype: int64

In [36]:
lista_municipios=[]

for fila in df_municipios.values:
    lista_municipios.append(tuple(fila))

# lista_municipios

In [37]:
for i in lista_municipios:
    if len(i)<4:
        print(len(i))

In [38]:
try:
    conexionproductora=psycopg2.connect(
    database="productora",
    user="postgres",
    password="admin",
    host="localhost",
    port="5432")
except OperationalError as e:
    if e.pgcode ==errorcodes.INVALID_PASSWORD:
        print("La constraseña es incorrecta")
    elif e.pgcode ==errorcodes.CONNECTION_EXCEPTION:
        print("Error de conexión")

In [39]:
# Primero, deshacer la transacción fallida
conexionproductora.rollback()

cursorproductora = conexionproductora.cursor()
cursorproductora

In [40]:
# Crear tablas
# Tabla Municipio
# index        object
# latitud     float64
# longitud    float64
# 2            object

querydecreacion1 = """
    CREATE TABLE IF NOT EXISTS Municipios (
    id_municipio VARCHAR(50) PRIMARY KEY,
    latitud DECIMAL,
    longitud DECIMAL,
    nombre VARCHAR(50)
);
"""

# Ejecutar la consulta y confirmar los cambios
cursorproductora.execute(querydecreacion1)
conexionproductora.commit()

# Tabla Lugar

# municipio         object
# category          object
# fsq_id            object
# closed_bucket     object
# distance         float64
# link              object
# name              object
# address           object
# latitude         float64
# longitude        float64
# dtype: object

querydecreacion2 = """
    CREATE TABLE IF NOT EXISTS Lugar (
    id_lugar SERIAL PRIMARY KEY,
    id_municipio VARCHAR,
    categoria VARCHAR,
    fsq_id VARCHAR,
    closed_bucket VARCHAR,
    distance DECIMAL,
    link VARCHAR,
    name VARCHAR,
    address VARCHAR,
    latitud DECIMAL,
    longitud DECIMAL,
    FOREIGN KEY (id_municipio) REFERENCES Municipios(id_municipio)
    on delete restrict
    on update cascade
);
"""

# Ejecutar la consulta y confirmar los cambios
cursorproductora.execute(querydecreacion2)
conexionproductora.commit()

# Tabla Tiempo

# cielo                            object
# temp._(°c)                        int64
# sen._térmica_(°c)                 int64
# racha_máx._(km/h)               float64
# precipitación_(mm)              float64
# nieve_(mm)                        int64
# humedad_relativa_(%)              int64
# prob._precip.__(%)                int64
# prob._de_nieve_(%)                int64
# prob._de_tormenta_(%)             int64
# avisos                           object
# dirección_viento                 object
# velocidad_del_viento              int64
# localizacion_id                  object
# fechadia                 datetime64[ns]
# hora                              int64

querydecreacion3 = """
    CREATE TABLE IF NOT EXISTS Tiempo (
    id_tiempo SERIAL PRIMARY KEY,
    cielo VARCHAR,
    temperatura INT,
    sensacion_termica INT,
    racha_max DECIMAL,
    precipitacion DECIMAL,
    nieve INT,
    humedad_relativa INT,
    prob_precip INT,
    prob_de_nieve INT,
    prob_de_tormenta INT,
    avisos VARCHAR,
    direccion_viento VARCHAR,
    velocidad_viento INT,
    id_municipio VARCHAR,
    fechadia DATE,
    hora INT,
    FOREIGN KEY (id_municipio) REFERENCES Municipios(id_municipio)
    on delete restrict
    on update cascade
);
"""

# Ejecutar la consulta y confirmar los cambios
cursorproductora.execute(querydecreacion3)
conexionproductora.commit()

In [41]:
# Primero, deshacer la transacción fallida
conexionproductora.rollback()

cursorproductora = conexionproductora.cursor()
cursorproductora

In [43]:
lista_municipios

[('acebeda-la', 41.0869583, -3.624399, 'La Acebeda'),
 ('ajalvir', 40.5342302, -3.4807818, 'Ajalvir'),
 ('alameda-del-valle', 40.9177178, -3.8438216, 'Alameda del Valle'),
 ('alamo-el', 40.2307296, -3.9905893, 'El Álamo'),
 ('alcala-de-henares', 40.4818396, -3.3644973, 'Alcalá de Henares'),
 ('alcobendas', 40.5400082, -3.6358494, 'Alcobendas'),
 ('alcorcon', 40.3492998, -3.8284295, 'Alcorcón'),
 ('aldea-del-fresno', 40.3215212, -4.19936, 'Aldea del Fresno'),
 ('algete', 40.5961652, -3.4974246, 'Algete'),
 ('alpedrete', 40.6599005, -4.0251223, 'Alpedrete'),
 ('ambite', 40.3289723, -3.1812115, 'Ambite'),
 ('anchuelo', 40.4653862, -3.2689196, 'Anchuelo'),
 ('aranjuez', 40.03221, -3.6039604, 'Aranjuez'),
 ('arganda-del-rey', 40.3007708, -3.4380688, 'Arganda del Rey'),
 ('arroyomolinos', 39.1855991, -6.1630632, 'Arroyomolinos'),
 ('atazar-el', 40.9343489, -3.4710919, 'El Atazar'),
 ('batres', 40.2091393, -3.9215947, 'Batres'),
 ('becerril-de-la-sierra', 40.7163374, -3.9890681, 'Becerril de la Sierra'),
 ('belmonte-de-tajo', 40.1336305, -3.3398654, 'Belmonte de Tajo'),
 ('berrueco-el', 40.8889705, -3.5614344, 'El Berrueco'),
 ('berzosa-del-lozoya', 40.9757802, -3.5236736, 'Berzosa del Lozoya'),
 ('boadilla-del-monte', 40.4053485, -3.8764663, 'Boadilla del Monte'),
 ('boalo-el', 40.7173359, -3.9202198, 'El Boalo'),
 ('braojos', 41.0400124, -3.6425888, 'Braojos'),
 ('brea-de-tajo', 40.2302134, -3.1092543, 'Brea de Tajo'),
 ('brunete', 40.4050499, -3.9979912, 'Brunete'),
 ('buitrago-del-lozoya', 40.9953477, -3.6350501, 'Buitrago del Lozoya'),
 ('bustarviejo', 40.8587766, -3.7097632, 'Bustarviejo'),
 ('cabanillas-de-la-sierra',
  40.8216089,
  -3.6259742,
  'Cabanillas de la Sierra'),
 ('cadalso-de-los-vidrios', 40.3014283, -4.4408876, 'Cadalso de los Vidrios'),
 ('camarma-de-esteruelas', 40.5490368, -3.3786211, 'Camarma de Esteruelas'),
 ('campo-real', 40.3381881, -3.3813911, 'Campo Real'),
 ('canencia', 40.9095894, -3.7375609, 'Canencia'),
 ('carabana', 40.256626, -3.2347206, 'Carabaña'),
 ('casarrubuelos', 40.1707803, -3.8308526, 'Casarrubuelos'),
 ('cenicientos', 40.2631894, -4.4669801, 'Cenicientos'),
 ('cercedilla', 40.7412931, -4.0558002, 'Cercedilla'),
 ('cervera-de-buitrago', 40.9211319, -3.5293404, 'Cervera de Buitrago'),
 ('chapineria', 40.379164, -4.2097254, 'Chapinería'),
 ('chinchon', 40.1408293, -3.4231474, 'Chinchón'),
 ('ciempozuelos', 40.1580087, -3.6205514, 'Ciempozuelos'),
 ('cobena', 40.5676083, -3.5048565, 'Cobeña'),
 ('collado-mediano', 40.6943707, -4.0247212, 'Collado Mediano'),
 ('collado-villalba', 40.6431496, -3.9930128, 'Collado Villalba'),
 ('colmenar-del-arroyo', 40.4179997, -4.1972768, 'Colmenar del Arroyo'),
 ('colmenar-de-oreja', 40.1074198, -3.3871634, 'Colmenar de Oreja'),
 ('colmenarejo', 40.5607257, -4.0165248, 'Colmenarejo'),
 ('colmenar-viejo', 40.6587726, -3.7659722, 'Colmenar Viejo'),
 ('corpa', 40.4235374, -3.2652482, 'Corpa'),
 ('coslada', 40.423802, -3.5552882, 'Coslada'),
 ('cubas-de-la-sagra', 40.1908352, -3.8378366, 'Cubas de la Sagra'),
 ('daganzo-de-arriba', 40.5451953, -3.45785, 'Daganzo de Arriba'),
 ('escorial-el',
  40.5890661,
  -4.147394873409854,
  'Real Monasterio de San Lorenzo de El Escorial'),
 ('estremera', 40.1847306, -3.1062403, 'Estremera'),
 ('fresnedillas-de-la-oliva',
  40.486444,
  -4.1723486,
  'Fresnedillas de la Oliva'),
 ('fresno-de-torote', 40.5922684, -3.4119681, 'Fresno de Torote'),
 ('fuenlabrada', 40.282476, -3.7923422, 'Fuenlabrada'),
 ('fuente-el-saz-de-jarama',
  40.6312151,
  -3.5125918,
  'Fuente el Saz de Jarama'),
 ('fuentiduena-de-tajo', 40.1185446, -3.160254, 'Fuentidueña de Tajo'),
 ('galapagar', 40.5774992, -4.0037748, 'Galapagar'),
 ('garganta-de-los-montes', 40.9216084, -3.6866546, 'Garganta de los Montes'),
 ('gargantilla-del-lozoya-y-pinilla-de-buitrago',
  40.96551504999999,
  -3.7077907634147276,
  'Gargantilla del Lozoya y Pinilla de Buitrago'),
 ('gascones', 41.0185654, -3.641499, 'Gascones'),
 ('getafe', 40.3070639, -3.7331808, 'Getafe'),
 ('grinon', 40.2136607, -3.8581479, 'Griñón'),
 ('guadalix-de-la-sierra', 40.7822384, -3.7007794, 'Guadalix de la Sierra'),
 ('guadarrama', 40.6734454, -4.0893911, 'Guadarrama'),
 ('hiruela-la', 41.0779223, -3.4552928, 'La Hiruela'),
 ('horcajo-de-la-sierra-aoslos',
  41.078683,
  -3.583901523172418,
  'Horcajo de la Sierra-Aoslos'),
 ('horcajuelo-de-la-sierra',
  41.0601151,
  -3.5457391,
  'Horcajuelo de la Sierra'),
 ('hoyo-de-manzanares', 40.6227334, -3.9072054, 'Hoyo de Manzanares'),
 ('humanes-de-madrid', 40.2508847, -3.8270997, 'Humanes de Madrid'),
 ('loeches', 40.3837901, -3.4092281, 'Loeches'),
 ('lozoya', 40.9513281, -3.7917078, 'Lozoya'),
 ('lozoyuela-navas-sieteiglesias',
  40.9263383,
  -3.6176377,
  'Lozoyuela-Navas-Sieteiglesias'),
 ('madarcos', 41.0477311, -3.5821549, 'Madarcos'),
 ('madrid', 40.4167047, -3.7035825, 'Madrid'),
 ('majadahonda', 40.473055, -3.8724138, 'Majadahonda'),
 ('manzanares-el-real', 40.7267632, -3.864981, 'Manzanares el Real'),
 ('meco', 40.553746, -3.3281561, 'Meco'),
 ('mejorada-del-campo', 40.3971785, -3.4896068, 'Mejorada del Campo'),
 ('miraflores-de-la-sierra',
  40.8137532,
  -3.7667236,
  'Miraflores de la Sierra'),
 ('molar-el', 40.7347865, -3.584376, 'El Molar'),
 ('montejo-de-la-sierra', 41.0593529, -3.530299, 'Montejo de la Sierra'),
 ('moraleja-de-enmedio', 40.2615532, -3.8612117, 'Moraleja de Enmedio'),
 ('moralzarzal', 40.6791436, -3.9720985, 'Moralzarzal'),
 ('morata-de-tajuna', 40.2294297, -3.4366925, 'Morata de Tajuña'),
 ('mostoles', 40.3238525, -3.8649214, 'Móstoles'),
 ('navacerrada', 40.7287926, -4.0151676, 'Navacerrada'),
 ('navalafuente', 40.8232617, -3.6747292, 'Navalafuente'),
 ('navalagamella', 40.4690591, -4.1227079, 'Navalagamella'),
 ('navalcarnero', 40.2877169, -4.014299, 'Navalcarnero'),
 ('navarredonda-y-san-mames',
  41.00736645,
  -3.7315049706950285,
  'Navarredonda y San Mamés'),
 ('navas-del-rey', 40.3863666, -4.2508402, 'Navas del Rey'),
 ('nuevo-baztan', 40.3659255, -3.2443102, 'Nuevo Baztán'),
 ('olmeda-de-las-fuentes', 40.3695225, -3.2213199, 'Olmeda de las Fuentes'),
 ('orusco-de-tajuna', 40.2853409, -3.2096521, 'Orusco de Tajuña'),
 ('paracuellos-de-jarama', 40.5048527, -3.5317621, 'Paracuellos de Jarama'),
 ('parla', 40.2373952, -3.7718902, 'Parla'),
 ('patones', 40.8548194, -3.483954, 'Patones'),
 ('pedrezuela', 40.7451088, -3.6030185, 'Pedrezuela'),
 ('pelayos-de-la-presa', 40.3605272, -4.3334254, 'Pelayos de la Presa'),
 ('perales-de-tajuna', 40.2325718, -3.3517265, 'Perales de Tajuña'),
 ('pezuela-de-las-torres', 40.4186483, -3.1778029, 'Pezuela de las Torres'),
 ('pinilla-del-valle', 40.9261949, -3.8184676, 'Pinilla del Valle'),
 ('pinto', 40.240985, -3.7005072, 'Pinto'),
 ('pinuecar-gandullas', 41.03554635, -3.599475586218161, 'Piñuécar-Gandullas'),
 ('pozuelo-de-alarcon', 40.4346528, -3.814834, 'Pozuelo de Alarcón'),
 ('pozuelo-del-rey', 40.3664055, -3.3200082, 'Pozuelo del Rey'),
 ('pradena-del-rincon', 41.0443369, -3.5402284, 'Prádena del Rincón'),
 ('puebla-de-la-sierra', 41.0121247, -3.4444367, 'Puebla de la Sierra'),
 ('puentes-viejas-manjiron', 40.9654041, -3.5828764, 'Manjirón'),
 ('quijorna', 40.4290833, -4.0565378, 'Quijorna'),
 ('rascafria', 40.9038871, -3.8802853, 'Rascafría'),
 ('reduena', 40.8158054, -3.6039309, 'Redueña'),
 ('ribatejada', 40.6664949, -3.3919178, 'Ribatejada'),
 ('rivas-vaciamadrid', 40.3536054, -3.5310879, 'Rivas-Vaciamadrid'),
 ('robledillo-de-la-jara', 40.9529148, -3.5250504, 'Robledillo de la Jara'),
 ('robledo-de-chavela', 40.5009201, -4.2380999, 'Robledo de Chavela'),
 ('robregordo', 41.1064517, -3.5937466, 'Robregordo'),
 ('rozas-de-madrid-las', 40.4933095, -3.8758396, 'Las Rozas de Madrid'),
 ('rozas-de-puerto-real', 40.3098351, -4.4912111, 'Rozas de Puerto Real'),
 ('san-agustin-del-guadalix',
  40.679051,
  -3.6166004,
  'San Agustín del Guadalix'),
 ('san-fernando-de-henares',
  40.4248548,
  -3.5350369,
  'San Fernando de Henares'),
 ('san-lorenzo-de-el-escorial',
  40.5926673,
  -4.1471642,
  'San Lorenzo de El Escorial'),
 ('san-martin-de-la-vega', 40.2110462, -3.5771806, 'San Martín de la Vega'),
 ('san-martin-de-valdeiglesias',
  40.3625,
  -4.3986503,
  'San Martín de Valdeiglesias'),
 ('san-sebastian-de-los-reyes',
  40.5473698,
  -3.6260586,
  'San Sebastián de los Reyes'),
 ('santa-maria-de-la-alameda',
  40.5958248,
  -4.2579208,
  'Santa María de la Alameda'),
 ('santorcaz', 40.4715789, -3.2335594, 'Santorcaz'),
 ('santos-de-la-humosa-los',
  40.5012957,
  -3.2566803,
  'Los Santos de la Humosa'),
 ('serna-del-monte-la', 41.0305793, -3.6252636, 'La Serna del Monte'),
 ('serranillos-del-valle', 40.2044509, -3.8851988, 'Serranillos del Valle'),
 ('sevilla-la-nueva', 40.3475422, -4.0275268, 'Sevilla la Nueva'),
 ('somosierra', 41.133207, -3.581478, 'Somosierra'),
 ('soto-del-real', 40.7534432, -3.7866573, 'Soto del Real'),
 ('talamanca-de-jarama', 40.7454625, -3.5127366, 'Talamanca de Jarama'),
 ('tielmes', 40.2465011, -3.3136206, 'Tielmes'),
 ('titulcia', 40.1379148, -3.5709978, 'Titulcia'),
 ('torrejon-de-ardoz', 40.4587767, -3.4793343, 'Torrejón de Ardoz'),
 ('torrejon-de-la-calzada', 40.2006804, -3.7993298, 'Torrejón de la Calzada'),
 ('torrejon-de-velasco', 40.1869283, -3.7769069, 'Torrejón de Velasco'),
 ('torrelaguna', 40.8277273, -3.538293, 'Torrelaguna'),
 ('torrelodones', 40.5762809, -3.928603, 'Torrelodones'),
 ('torremocha-de-jarama', 40.8358114, -3.4966866, 'Torremocha de Jarama'),
 ('torres-de-la-alameda', 40.4021516, -3.360625, 'Torres de la Alameda'),
 ('tres-cantos', 40.6065826, -3.7065333, 'Tres Cantos'),
 ('valdaracete', 40.2107697, -3.1954758, 'Valdaracete'),
 ('valdeavero', 40.6309749, -3.3329368, 'Valdeavero'),
 ('valdelaguna', 40.1605777, -3.367827, 'Valdelaguna'),
 ('valdemanco', 40.8736636, -3.6636949, 'Valdemanco'),
 ('valdemaqueda', 40.5110297, -4.2977731, 'Valdemaqueda'),
 ('valdemorillo', 40.5016772, -4.0688878, 'Valdemorillo'),
 ('valdemoro', 40.1888604, -3.67143, 'Valdemoro'),
 ('valdeolmos-alalpardo', 40.6385429, -3.4532436, 'Valdeolmos-Alalpardo'),
 ('valdepielagos', 40.7610144, -3.4656251, 'Valdepiélagos'),
 ('valdetorres-de-jarama', 40.6956481, -3.5146559, 'Valdetorres de Jarama'),
 ('valdilecha', 40.2926854, -3.3002096, 'Valdilecha'),
 ('valverde-de-alcala', 40.4180359, -3.2996775, 'Valverde de Alcalá'),
 ('velilla-de-san-antonio', 40.367166, -3.4874435, 'Velilla de San Antonio'),
 ('vellon-el', 40.7677965, -3.5820099, 'El Vellón'),
 ('venturada', 40.7985257, -3.6207369, 'Venturada'),
 ('villaconejos', 40.1040079, -3.4850284, 'Villaconejos'),
 ('villa-del-prado', 40.2764752, -4.3048032, 'Villa del Prado'),
 ('villalbilla', 40.4323665, -3.2987815, 'Villalbilla'),
 ('villamanrique-de-tajo', 40.0686973, -3.240078, 'Villamanrique de Tajo'),
 ('villamanta', 40.2990939, -4.1090399, 'Villamanta'),
 ('villamantilla', 40.3421033, -4.1300303, 'Villamantilla'),
 ('villanueva-de-la-canada', 40.4472106, -4.002795, 'Villanueva de la Cañada'),
 ('villanueva-del-pardillo',
  40.4949232,
  -3.9600065,
  'Villanueva del Pardillo'),
 ('villanueva-de-perales', 40.3466066, -4.1012616, 'Villanueva de Perales'),
 ('villar-del-olmo', 40.3364465, -3.2355624, 'Villar del Olmo'),
 ('villarejo-de-salvanes', 40.1683582, -3.2738764, 'Villarejo de Salvanés'),
 ('villaviciosa-de-odon', 40.3573787, -3.9002334, 'Villaviciosa de Odón'),
 ('villavieja-del-lozoya', 41.0063622, -3.6716291, 'Villavieja del Lozoya'),
 ('zarzalejo', 40.5483016, -4.1815899, 'Zarzalejo')]

In [42]:
# Insertar valores de tablas
# Tabla Municipios
    # id_municipio VARCHAR(50) PRIMARY KEY,
    # latitud DECIMAL(9,7),
    # longitud DECIMAL(9,7),
    # nombre VARCHAR(50)

    # query_insert = "INSERT INTO clientes (nombre, edad) VALUES (%s, %s);"
    # valores_multiples = [
    #     ("Ana García", 28),
    #     ("Luis Fernández", 40),
    #     ("María López", 22)
    # ]
    # cursor.executemany(query_insert, valores_multiples)
    # connection.commit()
    # print("Múltiples registros insertados exitosamente")

queryinsercion = 'INSERT INTO municipios (id_municipio, latitud, longitud, nombre) VALUES (%s,%s,%s,%s);'
listavaloresinsercion=lista_municipios
cursorproductora.executemany(queryinsercion,listavaloresinsercion)
conexionproductora.commit()

UniqueViolation: llave duplicada viola restricción de unicidad «municipios_pkey»
DETAIL:  Ya existe la llave (id_municipio)=(acebeda-la).

In [41]:
# Primero, deshacer la transacción fallida
conexionproductora.rollback()

cursorproductora = conexionproductora.cursor()
cursorproductora

In [2]:
# Tabla lugares

    # id_lugar SERIAL PRIMARY KEY
    # id_municipio VARCHAR,
    # categoria VARCHAR,
    # fsq_id VARCHAR,
    # closed_bucket VARCHAR,
    # distance DECIMAL,
    # link VARCHAR,
    # name VARCHAR,
    # address VARCHAR,
    # latitud DECIMAL,
    # longitud DECIMAL,

# ['municipio', 'category', 'fsq_id', 'closed_bucket', 'distance', 'link',
#        'name', 'address', 'latitude', 'longitude]
       
queryinsercion = "INSERT INTO lugar (id_municipio, categoria, fsq_id, closed_bucket, distance, link, name, address, latitud, longitud) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);"
listavaloresinsercion=lista_lugares
cursorproductora.executemany(queryinsercion,listavaloresinsercion)
conexionproductora.commit()

NameError: name 'lista_lugares' is not defined

In [1]:
listavaloresinsercion

NameError: name 'listavaloresinsercion' is not defined

In [43]:
# Primero, deshacer la transacción fallida
conexionproductora.rollback()

cursorproductora = conexionproductora.cursor()
cursorproductora

In [44]:
# Tabla tiempo

# cielo                            object
# temp._(°c)                        int64
# sen._térmica_(°c)                 int64
# racha_máx._(km/h)               float64
# precipitación_(mm)              float64
# nieve_(mm)                        int64
# humedad_relativa_(%)              int64
# prob._precip.__(%)               object
# prob._de_nieve_(%)                int64
# prob._de_tormenta_(%)             int64
# avisos                           object
# dirección_viento                 object
# velocidad_del_viento              int64
# localizacion_id                  object
# fechadia                 datetime64[ns]
# hora                              int64

queryinsercion = "INSERT INTO tiempo (cielo, temperatura, sensacion_termica, racha_max, precipitacion, nieve, humedad_relativa, prob_precip, prob_de_nieve, prob_de_tormenta, avisos, direccion_viento, velocidad_viento, id_municipio,fechadia,hora) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);"
listavaloresinsercion = lista_datosmeteo
cursorproductora.executemany(queryinsercion, listavaloresinsercion)
conexionproductora.commit()

In [45]:
# Primero, deshacer la transacción fallida
conexionproductora.rollback()

cursorproductora = conexionproductora.cursor()
cursorproductora

1. ¿Cuáles son los nombres y coordenadas de todos los municipios?
Consulta: Obtener el nombre, latitud y longitud de todos los municipios.

In [46]:
queryconsulta = """
SELECT nombre, latitud, longitud
FROM Municipios;
"""

# Ejecutar la consulta y confirmar los cambios
cursorproductora.execute(queryconsulta)
resultados = cursorproductora.fetchall()

2. ¿Qué lugares pertenecen a un municipio específico?
Consulta: Mostrar los lugares que están asociados a un municipio particular (por ejemplo, "Ajalvir").

In [47]:
queryconsulta = """
SELECT name, categoria
FROM Lugar
WHERE id_municipio= (
    SELECT id_municipio
    FROM municipios m 
    WHERE nombre = 'Ajalvir');
"""

# Ejecutar la consulta y confirmar los cambios
cursorproductora.execute(queryconsulta)
resultados = cursorproductora.fetchall()

3. Consulta: Obtener los lugares que están abiertos (VeryLikelyOpen) en todos los municipios

In [48]:
queryconsulta = """
SELECT name, id_municipio
FROM Lugar
WHERE closed_bucket = 'VeryLikelyOpen';
"""

# Ejecutar la consulta y confirmar los cambios
cursorproductora.execute(queryconsulta)
resultados = cursorproductora.fetchall()

4. Consulta: ¿Cuál es la temperatura más alta registrada en cualquier municipio?

In [49]:
queryconsulta = """
SELECT MAX(temperatura) AS temperatura_maxima
FROM tiempo;
"""

# Ejecutar la consulta y confirmar los cambios
cursorproductora.execute(queryconsulta)
resultados = cursorproductora.fetchall()

5. Consulta: Mostrar todos los municipios que tienen lugares con más de 1000 metros de distancia (según la columna distance)

In [50]:
queryconsulta = "SELECT M.nombre, L.name, L.distance FROM municipios m  JOIN Lugar L ON M.id_municipio = L.id_municipio WHERE L.distance > 1000;"

# Ejecutar la consulta y confirmar los cambios
cursorproductora.execute(queryconsulta)
resultados = cursorproductora.fetchall()
# resultados